<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Youtube-DL</title>
      {% endif %}
    </head>
    <body>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}        <div>youtube-dl: <a href="/index">Home</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>