<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      {% block headblock %}{% endblock %}
      <script src="{{ url_for('static', filename='app.js') }}"></script>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Youtube-DL</title>
      {% endif %}
    </head>
    <body>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
        <div class="main-menu">
          <ul>
            <li class="main-menu-item">
              <a href="/index">Home</a>
            </li>
            <li class="main-menu-item">
              <a href="/download">Download</a>
            </li>
            <li class="main-menu-item">
              <a href="/status">Status</a>
            </li>
          </ul>
        </div>
        </br>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>