{% extends "base.html" %}
{% block headblock %}
    <script src="{{ url_for('static', filename='status.js') }}"></script>
{% endblock %}
{% macro dl_table(dl_items, css_class, cols) %}
  <div class="{{css_class}}">
    {% if dl_items|length == 0 %}
      <p>Empty</p>
    {% else %}
      <table>
        <thead>
          <tr>
            {% for extra in cols %}
              <th>{{ extra }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for j in dl_items %}
            <tr thread-id="{{ j['thread_id'] }}">
            {% for extra in cols %}
              <td>{{ j[extra]|safe }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
    </div>
{% endmacro %}

{% block content %}
  <h1>Status</h1>
  <label><input id="status_auto_checkbox" type="checkbox" checked=""/>Auto-update</label> 
  <h2>Running</h2>
    {{ dl_table(context.running, 'dl-running', ['URL', 'ETA', 'Percent', 'Speed', 'Total Bytes', 'Log'])}}
  <h2>Queued</h2>
    {{ dl_table(context.queued, 'dl-queued', ['URL'])}}
    {% if context.queued|length > 0 %}
      <p><a href="/clear/queued">Clear all queued entries</a></p>
    {% endif %}
  <h2>Done</h2>
    {{ dl_table(context.done, 'dl-done', ['URL', 'Filename', 'Total Bytes', 'Log'])}}
    {% if context.done|length > 0 %}
      <p><a href="/clear/done">Clear all Done entries</a></p>
    {% endif %}
{%endblock%}