{% extends "base.html" %}
{% block headblock %}
    <script src="{{ url_for('static', filename='status.js') }}"></script>
{% endblock %}
{% macro dl_table(dl_items, css_class, cols) %}
    <div class="{{css_class}}">
      <table>
        <thead>
          <tr>
            {% for extra in cols %}
              <th>{{ extra }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for j in dl_items %}
          <tr>
            {% for extra in cols %}
              <td>{{ j[extra]|safe }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endmacro %}

{% block content %}
  <h1>Status</h1>
  <h2>Running</h2>
    {{dl_table(context.running, 'dl-running', ['URL', 'ETA', 'Percent', 'Speed', 'Total Bytes', 'Log'])}}
  <h2>Queued</h2>
    {{dl_table(context.queued, 'dl-queued', ['URL'])}}
  <h2>Done</h2>
    {{dl_table(context.done, 'dl-done', ['URL', 'Filename', 'Total Bytes', 'Log'])}}

{%endblock%}